{% extends'base.html.twig' %}

{% block body %}
<h2>Les moins chers </h2>
<div class="row">
    {% for promo in promos %}
    <div class="col-md-3">
            <img src="/{{ promo.image }}" alt="" class="img-thumbnail">
            <p>  Nom: {{promo.nom}}</p>
            <p> Marque: {{promo.marque}}</p>
            <p>Prix: <i class="bg-secondary text-white">{{promo.prix}}€</i></p>
    </div>
    {% endfor %}
</div>
<hr>

{% for produit in produits %}
<br>
<div class="row">
    <div class="col-md-6"><img src="../uploads/{{produit.image }}" alt="photo" width="100"></div>
    <div class="col-md-6">
        <p><b>Nom : </b>{{produit.nom}}</p>
        <p><b>Marque : </b>{{produit.marque}}</p>
         <p><b>Prix : </b>{{produit.prix}}€</p>
    </div>
</div>
<br>
<a href="{{path('produit_show',{'id':produit.id})}}" class="btn btn-primary">Lire plus!</a>
<hr>
{% endfor %}

{% endblock %}